<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BushiCode Project - Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    </head>

    <body>
        <main class="contenedor-principal">

            <!--Logo-->
            <div class="encabezado-marca">
                <img class="logo-mascota" src="{{ url_for('static', filename='IMG/Python.png') }}" alt="Logo BushiCode">

                <div class="titulos">
                    <h1 class="titulos-marca">BushiCode</h1>
                    <h2 class="subtitulo">CURSOS</h2>
                    <h3 class="mensaje">Hola {{ nombre }} | Nivel: {{ nivel }}</h3>
                </div>
            </div>

            <!--Botones-->
            <div class="contenedor-boton">
                <a href="/dashboard" class="boton-ingresar">Comentarios</a>
                <a href="/logout" class="boton-ingresar">Salir</a>
            </div>

            <!--Cursos-->
            <dev id="bronce-3" class="cursos">

            </dev>

            <dev id="bronce-2" class="cursos">

            </dev>

            <dev id="bronce-1" class="cursos">

            </dev>

            <dev id="plata-3" class="cursos">

            </dev>

            <dev id="plata-2" class="cursos">

            </dev>

            <dev id="plata-1" class="cursos">

            </dev>

            <dev id="oro-3" class="cursos">

            </dev>

            <dev id="oro-2" class="cursos">

            </dev>

            <dev id="oro-1" class="cursos">

            </dev>

            <dev id="platino-3" class="cursos">

            </dev>

            <dev id="platino-2" class="cursos">

            </dev>

            <dev id="platino-1" class="cursos">

            </dev>

            <dev id="diamante-3" class="cursos">

            </dev>

            <dev id="diamante-2" class="cursos">

            </dev>

            <dev id="diamante-1" class="cursos">

            </dev>

            <dev id="maestro-3" class="cursos">

            </dev>

            <dev id="maestro-2" class="cursos">

            </dev>

            <dev id="maestro-1" class="cursos">

            </dev>

            <dev id="code-predator" class="cursos">

            </dev>



        </main>
    </body>
</html>